<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
        <%# 部分テンプレートでフォームを表示する %>
            <%= form_with(model: @prototype, local: true) do |form| %>
      <%= form.text_field :title, placeholder: "プロトタイプの名称" %>
      <%= form.text_area :catch_copy, placeholder: "キャッチコピー" %>
      <%= form.text_area :concept, placeholder: "コンセプト" %>
      <%= form.file_field :image, placeholder: "プロトタイプの画像" %>
      <%= form.submit "SEND" %>
      
    <% end %>
    </div>
  </div>
</div>